<div class="text-center">
    <h1 class="display-4">About VMS</h1>
    <hr />
    <p>The Volunteer Management System (VMS) is a web-based application that allows a nonprofit organization to collect volunteers’ information, track their participation in activities, and produce reports on their contributions made.</p>
    <hr />
    <img src="~/lib/Images/IOBoardLogo.png" />
    <p>Created by I.O. Board - Fall 2020</p>
</div>