<div class="text-center">
    <h1 class="display-4">Welcome to VMS</h1>
    <hr />
    <div>
        <h3>Administrators</h3>
        <p>Administrators login <a href="/Identity/Account/Login" class="elements"><span>here</span></a></p>
    </div>
    <hr />
    <p>Learn more about our Volunteer Management System <a href="@Url.Action("AboutUs")" class="elements"><span>here</span></a></p>
</div>
