<div class="text-center">
    <h1 class="display-4">Welcome to VMS</h1>
    <hr />
    <img src="https://lh5.googleusercontent.com/0lvR0KZkuMVOrXmSpFn0sHF86Iu6BmoGgtEgn_JWx5Ck6OVbew_Sx3Gh_TqXC4s73A7kx2Nr0Cp0llTE-hdQ6sJL9MiMyVpOcOsAuwN3fqTE7fxsrhKKU8QSVr6rqKhwzgJscLfD" 
         alt="We Love Our Volunteers"
         width="100%"/><!-- dont change from 100% -->
    <div>
        <h3>Administrators</h3>
        <p>Administrators login <a href="/Identity/Account/Login" class="elements"><span>here</span></a></p>
    </div>
    <hr />
    <p>Learn more about our Volunteer Management System <a href="@Url.Action("AboutUs")" class="elements"><span>here</span></a></p>
</div>
