<div class="text-center">
    <h1 class="display-4">Administrator Management</h1>
    <hr />
    <h3>Volunteers</h3>
    <a href="@Url.Action("ManageVolunteers")" class="elements"><span>View and manage volunteers</span></a>
    <hr />
    <h3>Opportunities</h3>
    <a href="@Url.Action("ManageOpportunities")" class="elements"><span>View and manage opportunities</span></a>
</div>
