<div class="text-center">
    <h1 class="display-4">Administrator Management</h1>
    <hr />
    <h3>Volunteers</h3>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="VolunteerList">View and manage Volunteers</a>
    <hr />
    <h3>Opportunities</h3>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="OpportunityList">View and manage Opportunities</a>
</div>
